@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");

:root {
  --mainTextColor-light: #000;
  --secondaryTextColor-light: #ff033e;
  --mainLinkColor-light: #000;
  --mainBorderColor-light: rgb(218, 218, 218);
  --mainBackgroundColor-light: #fbfbfb;
  --mainButtonBackgroundColor-light: #ff033e;

  --mainTextColor-dark: #fff;
  --secondaryTextColor-dark: #ff033e;
  --mainLinkColor-dark: #fff;
  --mainBorderColor-dark: #2b3031;
  --mainBackgroundColor-dark: #131415;
  --mainButtonBackgroundColor-dark: #ff033e;

  --mainTextColor: var(--mainTextColor-light);
  --secondaryTextColor: var(--secondaryTextColor-light);
  --mainLinkColor: var(--mainLinkColor-light);
  --mainBorderColor: var(--mainBorderColor-light);
  --mainBackgroundColor: var(--mainBackgroundColor-light);
  --mainButtonBackgroundColor: var(--mainButtonBackgroundColor-light);
  --mainTransition: all 0.3s ease-in-out 0s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--mainTextColor);
  margin: 0;
}

html {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--mainBackgroundColor);
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.container-fluid {
  width: 100%;
}

/* NAVBAR */
.navbar {
  padding: 2rem 0;
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.5rem 0.5rem 0.5rem 0;
  color: red;
}

.navbar__letter {
  color: var(--secondaryTextColor);
}

.navbar__links {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar__links-item {
  padding: 0 1rem;
}

.navbar__links-item:last-child {
  padding-right: 0;
}

.navbar__links-item a {
  position: relative;
}

.navbar__links-item a:hover {
  color: var(--secondaryTextColor);
}

.navbar__links-item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: var(--secondaryTextColor);
  visibility: hidden;
  transform: scaleX(0);
  transition: var(--mainTransition);
}

.navbar__links-item a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* HERO SECTION */
.hero {
  padding: 2rem 0;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__intro {
  flex: 1;
}

.hero__image {
  flex: 2;
}

.hero__picture {
  width: 100%;
  height: auto;
}

.hero__title {
}

.hero__title-name {
  font-size: 1.5rem;
  display: inline-block;
  color: var(--secondaryTextColor);
}

.hero__subtitle {
  font-size: 1.125rem;
}

.hero__button {
  margin-top: 1rem;
}

.hero__button:hover {
}

/* ABOUT SECTION */
.about {
  padding: 6rem 0;
  line-height: 1.8;
}

.about__title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.about__container {
  display: flex;
  justify-content: space-between;
  gap: 3.125rem;
}

.about__content {
  flex: 1;
}

.about__description {
  overflow: hidden;
}

.about__image {
  width: 12.5rem;
  height: 12.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  border: 2px solid var(--secondaryTextColor);
  float: left;
}

.about__details {
  flex: 1;
}

.about__paragraph {
  margin: 1rem 0;
  font-size: 1.125rem;
}

.about__paragraph-heading {
  color: var(--secondaryTextColor);
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
}

/* WORK SECTION */
.work {
  padding: 6rem 0;
}

.work__title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.work__container {
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.work__item {
  display: flex;
  border: 2px solid #ff8da7;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.work__image {
  object-fit: cover;
  max-width: 33.33%;
  padding: 1rem;
}

.work__info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.work__company {
  font-size: 1.8rem;
  color: var(--secondaryTextColor);
}

.work__position {
  font-size: 1.2rem;
  margin: 0.2rem 0;
}

.work__date {
  font-size: 1rem;
}

.work__description {
  margin: 1rem 0;
}

.work__link {
  align-self: end;
}

/* PROJECTS SECTION */
.projects {
  padding: 6rem 0;
}

.projects__title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.875rem;
}

.projects__list {
  display: flex;
  gap: 1rem;
}

.project {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project__image {
  width: 100%;
  height: auto;
}

.project__info {
  padding: 1rem;
}

.project__name {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.project__description {
  margin-bottom: 1rem;
}

.project__link {
}

/* FOOTER SECTION */
footer {
  text-align: center;
}
/* MODIFIER CLASS */

.btn {
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 5px;
  transition: var(--mainTransition);
}

.btn--main {
  display: inline-block;
  color: #fff;
  background-color: var(--mainButtonBackgroundColor);
  padding: 1rem 2rem;
}

.btn--main:hover {
  background-color: #a60027;
}

.btn--secondary {
  font-size: 0.75rem;
  display: inline-block;
  color: var(--secondaryTextColor);
  border: 2px solid var(--mainButtonBackgroundColor);
  background-color: transparent;
  padding: 1rem 1.625rem;
}

.btn--secondary:hover {
  background-color: rgba(255, 141, 167, 0.4);
}
