@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");

:root {
  /* --background-color-dark: rgba(19, 20, 21, 1); */

  --text-white: rgba(255, 255, 255, 1);
  --text-black: rgba(0, 0, 0, 1);
  --primary-color: rgba(255, 3, 62, 1);
  --secondary-color: rgba(77, 112, 230, 1);
  --primary-button: rgba(255, 3, 62, 0.8);
  --secondary-button: rgba(77, 112, 230, 0.8);
  --background-color: rgba(251, 251, 251, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--text-black);
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  line-height: 1.5;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--text-black);
  font-weight: 500;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.container-fluid {
  width: 100%;
}

/* NAVBAR */
.navbar {
  padding: 1rem 0;
  z-index: 3;
  background-color: var(--secondary-color);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.5rem 0.5rem 0.5rem 0;
  color: var(--text-white);
}

.navbar__links {
  list-style: none;
  padding: 0;
  align-items: center;
  display: none;
}

.navbar__links-item {
  padding: 0 1rem;
}

.navbar__links-item:last-child {
  padding-right: 0;
}

.navbar__links-item a {
  position: relative;
  color: var(--text-white);
}

.navbar__links-item a:hover {
}

.navbar__links-item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: var(--text-white);
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out 0s;
}

.navbar__links-item a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* HAMBURGER MENU */
.navbar__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}

.navbar__hamburger-line {
  width: 100%;
  height: 2px;
  background-color: var(--text-white);
  margin-bottom: 4px;
  transition: transform 0.3s ease-in-out 0s;
}

.navbar__hamburger--active .navbar__hamburger-line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.navbar__hamburger--active .navbar__hamburger-line:nth-child(2) {
  opacity: 0;
}

.navbar__hamburger--active .navbar__hamburger-line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* MOBILE MENU */
.mobile__menu {
  position: fixed;
  top: 8rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 2;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 0.3s ease-in-out 0s;
}

.mobile__menu--active {
  transform: translateX(0%);
  visibility: visible;
}

.mobile__nav {
  margin: 2rem 0;
}

.mobile__links {
  list-style: none;
  padding: 0;
  align-items: center;
}

.mobile__links-item {
  padding: 2rem 0;
}

.mobile__links-item a {
  padding: 2rem 0;
}

.mobile__links-item:hover {
  background-color: var(--secondary-color);
}

.mobile__links-item:hover a {
  color: var(--text-white);
}

/* HERO SECTION */
.hero {
  margin: 2rem 0;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}

.hero__intro {
  flex: 1;
}

.hero__image {
  flex: 2;
}

.hero__picture {
  width: 100%;
  height: auto;
}

.hero__title {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.hero__subtitle {
  font-size: 1.125rem;
}

.hero__button {
  margin-top: 1rem;
}

.hero__button:hover {
}

/* ABOUT SECTION */
.about {
  margin: 6rem 0;
  line-height: 1.8;
}

.about__title {
  color: var(--primary-color);
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.875rem;
}

.about__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.about__content {
  flex: 1;
}

.about__description {
  overflow: hidden;
}

.about__image {
  width: 12.5rem;
  height: 12.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  float: left;
}

.about__details {
  flex: 1;
}

.about__paragraph {
  margin: 1rem 0;
  font-size: 1.125rem;
}

.about__paragraph-heading {
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
}

/* WORK SECTION */
.work {
  margin: 6rem 0;
}

.work__title {
  color: var(--primary-color);
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.875rem;
}

.work__container {
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.work__item {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.work__image {
  object-fit: cover;
  max-width: 100%;
  padding: 1rem;
}

.work__info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.work__company {
  color: var(--secondary-color);
  font-size: 1.6rem;
  display: inline;
}

.work__date {
  font-size: 1.2rem;
}

.work__description {
  margin: 1rem 0;
}

.work__link {
  align-self: end;
}

/* PROJECTS SECTION */
.projects {
  margin: 6rem 0;
}

.projects__title {
  color: var(--primary-color);
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.875rem;
}

.projects__container {
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project {
  flex: 1;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project__image {
  width: 100%;
  height: auto;
}

.project__info {
  padding: 1rem;
}

.project__name {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.project__description {
  margin-bottom: 1rem;
}

.project__link {
}

/* CONTACT SECTION */
.contact {
  margin: 6rem 0;
}

.contact__title {
  color: var(--primary-color);
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.875rem;
}

.contact__container {
  display: flex;
  flex-direction: column;
}

.contact__info {
  margin-bottom: 2rem;
  flex: 1;
}

.contact__item {
  margin: 0.5rem 0;
  width: max-content;
}

.contact__icon {
  width: 24px;
  height: 24px;
  fill: var(--secondary-text);
  margin-right: 1rem;
}

.contact__link {
  display: flex;
  align-items: center;
}

/* FOOTER SECTION */
footer {
  padding: 2rem;
  background-color: var(--primary-color);
  color: var(--text-white);
  text-align: center;
  font-weight: bold;
}

/* MODIFIER CLASS */
.btn {
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out 0s;
  cursor: pointer;
  border: none;
}

.btn--primary {
  display: inline-block;
  color: var(--text-white);
  background-color: var(--primary-button);
  padding: 1rem 2rem;
}

.btn--primary:hover {
  background-color: var(--primary-color);
}

.btn--secondary {
  font-size: 0.8rem;
  display: inline-block;
  color: var(--text-white);
  background-color: var(--secondary-button);
  padding: 0.8rem 1.2rem;
}

.btn--secondary:hover {
  background-color: var(--secondary-color);
}

.body-scroll-lock {
  overflow: hidden;
}

.text-align {
  text-align: center;
}

/* CSS STYLES TO APPLY WHEN THE SCREEN WIDTH IS GREATER THAN 768PX */
@media (min-width: 768px) {
  /* NAVBAR */
  .navbar__links {
    display: flex;
  }

  /* HAMBURGER MENU */
  .navbar__hamburger {
    display: none;
  }

  /* MOBILE MENU */
  .mobile__menu {
    visibility: visible;
    transform: translateX(-100%);
  }

  /* HERO SECTION */
  .hero__container {
    flex-direction: row;
  }

  .hero__title {
    margin-top: 0;
  }

  /* ABOUT SECTION */
  .about__container {
    gap: 3.125rem;
    flex-direction: row;
  }

  /* WORK SECTION */
  .work__item {
    flex-direction: row;
  }

  .work__image {
    max-width: 33.33%;
  }

  /* PROJECTS SECTION */
  .projects__list {
    flex-direction: row;
  }

  /* CONTACT SECTION */
  .contact__container {
    flex-direction: row;
  }

  /* MODIFIER CLASS */
  .text-align {
    text-align: left;
  }
}
